#content {		 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 600px;
}

#ul {
  list-style-type: none;
  padding-left: 0;
}

.SiriBorder{
	border-width: 10px; border-color: PaleVioletRed; 
	border-style: solid;
}

#Kevin{
	color: OliveDrab;
	font-size: larger;
}

#Connie{
	color: LightSkyBlue;
	font-size: larger;
}

#Siri{
	color: PaleVioletRed;
	font-size: larger;
}